#onlineWhiteboardLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#findClassroomDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#findClassroom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#submitClassroom{
    margin-right: 18%;
    width: 40%
}

#buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#gotoLoginPage{
    width: 38%
}